# Kubernetes Secrets and Configs
*.secret.yaml
*.config.yaml

# Helm
charts/
releases/

# Docker
**/Dockerfile
**/*.tar
**/*.log

# IDE and OS files
.DS_Store
Thumbs.db
*.swp
*.bak
*.tmp
.idea/
.vscode/
node_modules/

# Git
.git/
applicationset.yaml
